html {
  min-height: 100vh;
}

body {
  color: $dark_color;
  font-family: 'RF Dewi', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  min-height: 100vh;
}

button, input[type="button"] {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
