footer(class="footer")
  .container
    .footer__shell
      div
        span Call центр ежедневно <br> с 9:00 до 18:00
      div
        span <strong>Дом карнизов</strong><br> - интернет-магазин
      div
        span domkarnozov@mail.ru <br> +7 (985) 755-06-12
