-
  var navigation = [
    { text: "Галерея работ", link: "/our-works.html" },
    { text: "Конструктор", link: "/designer.html" },
    { text: "Услуги", link: "/services.html" },
    { text: "Прайс", link: "/price.html" },
    { text: "Оплата", link: "/payment.html" },
    { text: "Доставка", link: "/delivery.html" }
  ];

  var dropdown = [
    { text: "Карнизы", link: "#" },
    { text: "Ткани", link: "#" },
    { text: "Солнцезащита", link: "#" },
    { text: "Аксессуары", link: "/taxonomy.html" },
    { text: "Портфолио", link: "#" },
    { text: "Конструктор", link: "/designer.html" },
    { text: "Услуги", link: "/services.html" },
    { text: "Оплата", link: "/payment.html" },
    { text: "Доставка", link: "/delivery.html" },
  ]

include ./header/_header_top
include ./header/_header_center
include ./header/_header_bottom
