block variables
  - var title = "Название страницы";

doctype html
html(lang="ru_Ru")
  head
    meta(charset="UTF-8")
    meta(content="width=device-width initial-scale=1.0" name="viewport")

    title Дом карнизов | #{title}

    link(rel="icon", type="image/svg+xml", href="/vite.svg")
    link(href="./fonts/RF-Dewi/stylesheet.css" rel="stylesheet")
    link(href="./src/scss/style.scss" rel="stylesheet")

    block head
  body
    .wrapper
      block header
        include  ../templates/_header
      block content
      block footer
        include ../templates/_footer

    script(src="./src/ts/main.ts" type="module")

    block scripts
