section.about-products
  .container
    .product-cats
      .product-cats__shell
        article.product-cats__item
          img.product-cats__item__image(src="/images/product-cat--cornices.png", alt="product-cat--cornices")
          a.product-cats__item__link(href="/category/cornices/index.html")
            span Карнизы
            img(src="/images/arrow-right-fill-blue.svg", alt="arrow-right-fill-blue")
        article.product-cats__item
          img.product-cats__item__image(src="/images/product-cat--fabrics.png", alt="product-cat--fabrics")
          a.product-cats__item__link(href="/category/fabrics/index.html")
            span Ткани
            img(src="/images/arrow-right-fill-blue.svg", alt="arrow-right-fill-blue")
        article.product-cats__item
          img.product-cats__item__image(src="/images/product-cat--sun-protect.png", alt="product-cat--sun-protect")
          a.product-cats__item__link(href="/category/sun-protection/index.html")
            span Солнцезащита
            img(src="/images/arrow-right-fill-blue.svg", alt="arrow-right-fill-blue")
        article.product-cats__item
          img.product-cats__item__image(src="/images/product-cat--accessories.png", alt="product-cat--accessories")
          a.product-cats__item__link(href="/category/accessories/index.html")
            span Аксессуары
            img(src="/images/arrow-right-fill-blue.svg", alt="arrow-right-fill-blue")
    .banner-slider.owl-carousel.owl-theme
      .banner-slider__item
        img.banner-slider__item__image(src="/images/home-slider-banner-1.png", alt="home-slider-banner-1")
        .banner-slider__item__content
          h3.banner-slider__item__title
            | Карнизы
            br
            | Monstera
          p.banner-slider__item__text
            | Популярные дизайнерские
            br
            | решения для вашего дома
          a.banner-slider__item__link(href="#") Подробнее
      .banner-slider__item
        img.banner-slider__item__image(src="/images/home-slider-banner-1.png", alt="home-slider-banner-1")
        .banner-slider__item__content
          h3.banner-slider__item__title
            | Карнизы
            br
            | Monstera
          p.banner-slider__item__text
            | Популярные дизайнерские
            br
            | решения для вашего дома
          a.banner-slider__item__link(href="#") Подробнее
