extends ./include/layouts/_base_layout
include ./include/mixins/utils/_image

block variables
  - var title = "Доставка"
  - var description = "Страница доставки товаров"
  - var canonical = "/delivery"
  - var breaditems = [{ text: title }]

block head
  link(href="/src/scss/delivery.page.scss" rel="stylesheet")

block content
  .info-cards__wrapper
    .info-cards__item
      .info-cards__image
        +image("delivery-location 2.png", "/images/delivery/")
      .info-cards__content
        h2.info-cards__title Доставка
        .info-cards__description
          p Наш магазин работает на прямую с поставщиками, что дает возможность предложить Вам минимальные цены на наш ассортимент. Основная часть поставщиков и складов продукции находится в г. Москва, г. Санкт-Петербург, г. Белгород. Соответственно сроки доставки не могут быть в течении одного дня. Всё зависит от скорости доставки ТК. Время отгрузки товара со склада поставщиков к ТК составляет 1-3 дня, после внесения предоплаты или полной оплаты за выбранный товар. ТК отправляет груз в наш офис (г. Анапа), его доставка происходит  в течении 3-7 дней ( ориентировочное время). Как только груз поступает к нам в офис, с Вами свяжется наш менеджер.
          p Доставка в регионы осуществляется после получения товара в наш офис (г. Анапа).
          p Так же есть категория товаров, которые являются заказными позициями. Что это значит? Эксклюзивный товар, который находится в зарубежных странах. И сроки заказов таких товаров увеличены, что связано непосредственно с логистикой. О данной информации Вас проинформирует наш менеджер перед оформлением заказа.
    .info-cards__item
      .info-cards__image
        +image("timer-4544083-3773191 1.png", "/images/delivery/")
      .info-cards__content
        h2.info-cards__title Сроки доставки
        .info-cards__description
          p Срок доставки заказанного Вами товара состоит из:
          ul(style="list-style-type: digits; padding-left: 15px")
            li Срока поставки товара на наш склад (г.Анапа) (5-14 дней), исключая заказные позиции товаров.
            li Срока доставки до Вас (курьерской службой по г.Анапе  или транспортной компанией по России)
    .info-cards__item
      .info-cards__image
        +image("coins-5204461-4340785 1.png", "/images/delivery/")
      .info-cards__content
        h2.info-cards__title Стоимость Доставки
        .info-cards__description
          p Доставка по г. Анапа осуществляется бесплатно.
          p Доставка в пределах 10 км  от Анапы - 500р. Более 10 км рассчитывается индивидуально.
          p Доставка до ТК( г.Анапа) ,для отправки в регионы, бесплатно. Услуги транспортных компаний по доставке груза до адреса оплачиваются вами самостоятельно.
          p: strong ВАЖНО! Все доставки транспортными компаниями отправляются с описью вложения груза и наши обязательства считаются выполненными в момент передачи груза транспортной компании.
