extends ./templates/_layout

block variables
  - var title = "Оформление заказа"
  - var breaditems = [{ text: "Карнизы" }]
  -
    var orders = [
      { img: "312f3df116de1568d9ca835373b6d20b 1.png", name: "Наконечник D19 «Шар большой» Чёрный" },
      { img: "312f3df116de1568d9ca835373b6d20b 1.png", name: "Наконечник D19 «Шар большой» Чёрный" },
    ]

block head
  link(href="./src/scss/order.page.scss" rel="stylesheet")

block content
  main.content(role="main")
    .container
      include ./mixins/_breadcrumbs
      +breadcrumbs(breaditems)

      h1.page-title #{title}

      table.order-table
        tbody
          each it in orders
            tr.order-table__row
              td.order-table__image
                include ./mixins/utils/_image
                +image("./images/312f3df116de1568d9ca835373b6d20b 1.png")
              td.order-table__name Наконечник D19 «Шар большой» Чёрный
              td.order-table__stock
                div
                  svg(xmlns="http://www.w3.org/2000/svg", width="8", height="9", viewBox="0 0 8 9", fill="none")
                    circle(cx="4", cy="4.5", r="4", fill="#0EC20B")
                  span В наличии
              td Поле ввода
              td 1 281,60 руб.
        tfoot
          tr.order-table__row
            td(colspan="3") &nbsp;
            td(colspan="2").order-table__total К оплате: <span>5 858,60 руб.</span>

block scripts



