extends layouts/_base_layout
include ./mixins/utils/_image

block variables
  - var title = "Оплата"
  - var description = "Страница информации об оплате"
  - var canonical = "/payment"
  - var breaditems = [{ text: title }]

block head
  link(href="/src/scss/payment.page.scss" rel="stylesheet")



block content
  .info-cards__wrapper
    .info-cards__item
      .info-cards__image
        +image("wallet-3260434-2725127 1.png", "./images/payment/")
      .info-cards__content
        h2.info-cards__title Оплата товара
        .info-cards__description
          p Заказ любой продукции осуществляется по предоплате, в размере 50% от стоимости выбранного товара. Некоторые группы товаров заказать можно только после внесения предоплаты в размере 70%, так как они имеют индивидуально-определенные свойства, изготавливаются "под заказ" или поставляются на метраж.
          p Для Вашего удобства оплата товара в нашем интернет-магазине осуществляется любым из следующих способов:
          ul(style="list-style-type: digits; padding-left: 15px;")
            li Наличными при доставке товара курьером (остаток за товар, по которому была внесена предоплата), либо при личной встрече с нашим сотрудником, непосредственно на объекте.
            li Перевод на карту Сбербанка
            li Безналичным переводом ( для юридических лиц). Для оплаты , обратитесь к нашим менеджерам, для выставления счёта. Изготовление, отправка или доставка происходит после поступления денежных средств на счёт.
    .info-cards__item
      .info-cards__image
        +image("refresh-5115228-4280976 1.png", "./images/payment/")
      .info-cards__content
        h2.info-cards__title Обмен
        .info-cards__description
          p Обмену НЕ подлежат товары надлежащего качества:
            p Имеющие индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его покупателем, указанные в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55.
            p Вы можете отказаться от заказанного товара в любое время до его получения, а после получения - в течение 7 дней (согласно статье 26.1 Федерального закона РФ о защите прав потребителей).
            p Обмен или возврат товара надлежащего качества производится в течение 7 дней со дня покупки, при условии, что товар не был в эксплуатации и сохранен товарный вид и упаковка. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный или кассовый чек). Для возврата товара также необходим документ, удостоверяющий личность (паспорт гражданина РФ/загранпаспорт, военный билет, водительские права).
            p При возврате товара надлежащего качества, магазин вернет его стоимость при получении товара и Вашего письменного заявления (написанного в произвольной форме на имя руководства интернет-магазина). Сумма за доставку товара возвращена не будет (п3 ст.497 ГК РФ). Вы вправе обменять или вернуть товар надлежащего качества в течение 7 дней с момента получения заказа, не считая дня покупки.
            p Вы можете отказаться от товара в момент его получения, так же Вы можете осуществить возврат или обмен товара в указанные сроки. При этом Вам придется компенсировать стоимость доставки (п3 ст.497 ГК РФ):
            p При возврате товара в нашем офисе Вам необходимо будет заполнить заявление, указав реквизиты счета для получения денег. Деньги будут перечислены в течение 5-10 рабочих дней.
            p Если возврат денежных средств производится по безналичному расчету, по причине не независящей от магазина, с клиента удерживается комиссия в размере 2-3,5% от суммы заказа.
            p Внимание! Наш магазин не несет ответственности за срывание сроков доставки, за порчу упаковки и прочие возможные проблемы, которые произошли после сдачи товара в Транспортную Компанию.
    .info-cards__item
      .info-cards__image
        +image("verified-return-5201137-4355736 1.png", "./images/payment/")
      .info-cards__content
        h2.info-cards__title Возврат и обмен товара ненадлежащего качества
        .info-cards__description
          p Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить исполнение своих функциональных качеств. Полученный товар должен соответствовать описанию на сайте. Отличие элементов дизайна или оформления от заявленных в описании на сайте не является неисправностью или не функциональностью товара.
          p Внешний вид и комплектность товара, а также комплектность всего заказа должны быть проверены получателем в момент доставки товара (кроме доставки почтой). При доставке товара, Вы ставите свою подпись в квитанции о доставке, в графе: "Заказ принял, комплектность полная, услуги по доставке оказаны, претензий к количеству и внешнему виду товара не имею. С условиями возврата товара ознакомлен". После получения заказа претензии к внешним дефектам товара, его количеству, комплектности и товарному виду не принимаются.
          p Если Вам был передан товар ненадлежащего качества, и оно не было заранее оговорено продавцом, Вы вправе воспользоваться положениями ст. 18 Закона о защите прав потребителей.
          p В связи с особенностями дистанционного способа продажи, замена товара может быть выполнена только посредством возврата товара ненадлежащего качества и оформления нового заказа на аналогичный товар.
          p Вы вправе отказаться от исполнения договора купли-продажи, возвратить товар ненадлежащего качества и потребовать возврата уплаченной за товар денежной суммы.
          p Любые из перечисленных требований должны быть предъявлены Вами в письменной форме посредством заполнения заявления. Требования о возврате уплаченной за товар денежной суммы подлежат удовлетворению в течение 10 дней со дня предъявления соответствующего требования (ст. 22 Закона РФ "О защите прав потребителей").
          p При обнаружении скрытых дефектов в товаре обратитесь в сервисный центр фирмы-производителя. Гарантийные обязательства несет фирма-производитель, она же устанавливает сроки гарантии. Возврат и обмен товара осуществляется в соответствии с Законом о защите прав потребителя.
          p Обмен товара или возврат денежных средств Покупателю осуществляется после проведения экспертизы сервисного центра и наличие заключения о производственном браке. Выезд курьера для обмена или возврата товара покупатель оплачивает дополнительно.
    .info-cards__item
      .info-cards__image
        +image("verified-return-5201137-4355736 1.png", "./images/payment/")
      .info-cards__content
        h2.info-cards__title Отказ от покупки
        .info-cards__description
          p Если, по какой-либо причине, независящей от магазина, Вы решаете отказаться от заказа в момент фактического получения, Вам придется оплатить стоимость доставки (п3 ст.497 ГК РФ):
          p Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации:
          p Утвержден Постановлением правительства Российской Федерации от 19 января 1998 года № 55, в редакции Постановления Правительства РФ от 20 октября 1998 года №1222, от 06 февраля 2002 года № 81.
