extends layouts/_base_layout
include ./mixins/utils/_image

block variables
  - var title = "Услуги"
  - var description = "Страница услуг компании"
  - var canonical = "/services.html"
  - var breaditems = [{ text: title }]

block head
  link(href="./src/scss/services.page.scss" rel="stylesheet")

block subtitle
  p.page-subtitle Дом Карнизов - интернет - магазин карнизов и комплектующих. Так же мы оказываем полный спектр услуг по декорированию помещений, который включает в себя:  выезд дизайнера с образцами на объект, выезд замерщика, индивидуальное изготовление карнизов, жалюзи, рулонных штор и штор плиссе, разработка дизайна и пошив штор, монтаж карнизов и солнцезащитных систем, навешивание штор.

block content
  .services__wrapper
    .services__item
      .services__image
        +image("8ef5e2d85bd2e285003d86b96060265605dedec0.png", "./images/services/")
      .services__content
        h2.services__title Выезд дизайнера с образцами
        .services__description
          p Дом Карнизов - интернет - магазин карнизов и комплектующих. Так же мы оказываем полный спектр услуг по декорированию помещений, который включает в себя:  выезд дизайнера с образцами на объект, выезд замерщика, индивидуальное изготовление карнизов, жалюзи, рулонных штор и штор плиссе, разработка дизайна и пошив штор, монтаж карнизов и солнцезащитных систем, навешивание штор.
    .services__item
      .services__image
        +image("8fd15d482dce6df389c45341ee94ccf156b71876.png", "./images/services/")
      .services__content
        h2.services__title Выезд замерщика
        .services__description
          p Выезд специалиста по замерам необходим для точного определения размеров изделия, его технических характеристик с учетом существующих стандартов и допусков. Наш сотрудник поможет Вам выбрать тип изделия, наиболее подходящий для Ваших условий, даст полноценную консультацию по изделиям, ознакомит с каталогами и образцами продукции.
          p Все замеры в нашей компании "условно - платные". Плата взимается только в тех случаях, если клиент отказывается от заказа по независящим от нас обстоятельств. Замерщик поможет Вам избежать возможных ошибок при выборе карнизов и солнцезащитных систем.
    .services__item
      .services__image
        +image("9b93e6bd790534cd554fe09facef12951d643a88.png", "./images/services/")
      .services__content
        h2.services__title Индивидуальное изготовление карнизов / солнцезащиты
        .services__description
          p Правильный карниз - надежная и удобная архитектура Вашего окна. В нашем интернет- магазине Вы  можете купить готовый карниз определенного размера , а так же собрать карниз своей мечты . Мы выполним эркерное и арочное гнутие, загиб,  запил, удлинение, а так же соберем карниз по индивидуальным параметрам. Изготовление систем солнцезащиты выполняется строго по индивидуальным размерам. При заказе услуги Вызов замерщика или Вызов Дизайнера Вы получаете технически правильное и подходящее по размерам  изделие .
    .services__item
      .services__image
        +image("afc3dbe4fb306c0c694f7dca83ae36bdd551eaf2.png", "./images/services/")
      .services__content
        h2.services__title Монтаж карнизов и солнцезащитных систем / Навешивание штор
        .services__description
          p Наша команда монтажников - это  специалисты  с многолетним опытом работы, что позволяет выполнять работы всегда качественно, быстро и профессионально. Мастер привезёт с собой все инструменты и расходники. Если чего-то не хватает — съездит и купит. Производим монтаж карнизов любой сложности, установка держателей, крючков, розеток для штор, потолочное и стеновое крепление, а так же монтаж всех видов солнцезащитных систем. Наши мастера предельно вежливы и аккуратны в работе. На объекте  после нас не остается мусора. Вы будете довольны проделанной работой.
          p Специалисты нашей компании предлагают такую услугу, как профессиональное  навешивание штор. Выбранная вами модель удачно дополнит интерьер. Шторы и тюль отутюжат, уложат красиво, задрапируют. Навесив шторы, проинформируют Вас о правильном уходе за шторами,  дадут рекомендации . С нашей помощью изделия еще долго сохранят привлекательность.
    .services__item
      .services__image
        +image("a3efde66a70dd5612b8b1c8a5944892e86b2617e.png", "./images/services/")
      .services__content
        h2.services__title Отправка/ Доставка
        .services__description
          p: strong Сроки доставки

          p Срок доставки заказанного Вами товара состоит из:
          ul(style="list-style-type: decimal; padding-left: 15px;")
            li Срока поставки товара на наш склад (г.Анапа) (5-10 дней), исключая заказные позиции товаров.
            li Срока доставки до Вас (курьерской службой по г.Анапе  или транспортной компанией по России)
          p: strong Стоимость Доставки
          p Доставка по г. Анапа осуществляется бесплатно. <br> Доставка в пределах 10 км  от Анапы - 500р. Более 10 км рассчитывается индивидуально. <br> Доставка до ТК( г.Анапа) ,для отправки в регионы, бесплатно. Услуги транспортных компаний по доставке груза до адреса оплачиваются вами самостоятельно.
          p: strong ВАЖНО! Все доставки транспортными компаниями отправляются с описью вложения груза и наши обязательства считаются выполненными в момент передачи груза транспортной компании.

