extends layouts/_base_layout

block variables
  - var title = "Аксессуары"
  - var description = "Страница таксономии / Аксессуары"
  - var canonical = "/taxonomy"
  - var breaditems = [{ text: title }]

block head
  link(href="/src/scss/taxonomy.page.scss" rel="stylesheet")

block content

