extends ../include/layouts/_base_layout

include ../include/mixins/utils/_image
include ../include/mixins/_taxonomy_item

block variables
  - var title = "Аксессуары"
  - var description = "Страница таксономии / Аксессуары"
  - var canonical = "/category/accessories/"
  - var breaditems = [{ text: title }]
  -
    var list = [
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 1.png", text: "Кисти", link: "#" },
      {
        img: "1d36d23b156ead252433d4ce2c21c387_XL 2.png",
        text: "Бахрома",
        link: "/category/accessories/bahroma/index.html"
      },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 3.png", text: "Шнур", link: "#" },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 4.png", text: "Держатели", link: "#" },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 5.png", text: "Люверсы", link: "#" },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 6.png", text: "Магниты", link: "#" },
      { img: "1d36d23b156ead252433d4ce2c21c387_XL 7.png", text: "Лента", link: "#" },
    ]

block head
  link(href="/src/scss/taxonomy.page.scss" rel="stylesheet")

block content
  .category__wrapper
    each it in list
      +taxonomy_item(it)
