@import "./modules/vars";

h1.page-title {
  margin-bottom: 50px;
}

.about-company {
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  margin-bottom: 95px;

  &__item {
    --img-width: 300px;

    display: flex;
    align-items: flex-start;
    column-gap: 56px;
  }

  &__image {
    flex: 0 0 auto;

    img {
      width: var(--img-width);
      height: var(--img-width);
      object-fit: cover;
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    color: #1DA1E2;
    font-size: 22px;
    font-weight: 600;
    line-height: 125%;
    margin: 0 0 30px;
  }

  &__description {
    p {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    ul {
      margin-top: 0;
    }

    ul {
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;

      &.custom-marks {
        padding-left: 0;

        li {
          list-style-type: none;
        }

        li::before {
          color: #1DA1E2;
          content: "●";
          padding-right: 10px;
        }
      }
    }
  }
}

@media (max-width: #{map-get($bp_sizes, lg)-1}) {
  .about-company {
    row-gap: 30px;

    &__item {
      border-radius: 10px;
      background: #FFF;
      box-shadow: 0 10px 50px 0 rgba(26, 77, 102, 0.10);
    }

    &__image {
      --img-width: 206px;
      padding: 34px 0 0 40px;
    }

    &__content {
      padding: 34px 30px 34px 0;
    }
  }
}

@media (max-width: #{map-get($bp_sizes, md)-1}) {
  .about-company {
    &__item {
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
    }

    &__image {
      padding: 34px 40px 0 40px;
    }

    &__content {
      padding: 0 20px 30px 20px;
    }
  }
}
